/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* *********************** */
/* My CSS */
/* *********************** */

body {
  background-color: rgb(216, 237, 248);
}
.container {
  background-color: white;
  display: flex;
  max-width: 425px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
  margin: 20px auto;
}
.image-qr-code {
  border-radius: 15px;
}

h1 {
  font-family: 'Outfit', sans-serif;
  font-size: 1.7rem;
  margin: 20px 30px;
  text-align: center;
}

.description {
  font-family: 'Outfit', sans-serif;
  font-size: 1.2em;
  color: #7d7d7d;
  padding: 0 30px 40px;
  text-align: center;
  line-height: normal;
}
